[user]
	name = Maksim Odnoletkov
	email = odnoletkov@mail.ru
[color]
	ui = auto
[core]
	excludesfile = ~/.scripts/.gitignore_global
[advice]
	pushNonFastForward = false
	statusHints = false
	commitBeforeMerge = false
	resolveConflict = false
	implicitIdentity = false
	detachedHead = false
[mailmap]
    file = /Users/max/.scripts/.mailmap
[alias]
    lg = log --pretty=format:'%C(yellow)%h %C(white dim)%>(15)%ad %C(cyan dim)%<(2,trunc)%aN%C(reset)%C(auto)%d %s' --use-mailmap --date=relative -10
    lga = log --pretty=format:'%C(yellow)%h %C(white dim)%>(24)%ad %C(cyan dim)%<(2,trunc)%aN%C(reset)%C(auto)%d %s' --use-mailmap --date=local
[diff "localizablestrings"]
	textconv = "iconv -f utf-16 -t utf-8"
[push]
	default = simple
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[merge]
	tool = opendiff
[status]
	short = true
	branch = true
