[submodule ".vim/pack/max/start/jq.vim"]
	path = .vim/pack/max/start/jq.vim
	url = https://github.com/vito-c/jq.vim.git
[submodule ".vim/pack/max/start/vim-fugitive"]
	path = .vim/pack/max/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/max/start/vim-unimpaired"]
	path = .vim/pack/max/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/pack/max/start/vim-swift"]
	path = .vim/pack/max/start/vim-swift
	url = https://github.com/odnoletkov/vim-swift
[submodule ".vim/pack/max/start/fugitive-gitlab.vim"]
	path = .vim/pack/max/start/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
[submodule ".vim/pack/max/start/vim-rhubarb"]
	path = .vim/pack/max/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/pack/max/start/vim-fubitive"]
	path = .vim/pack/max/start/vim-fubitive
	url = https://github.com/tommcdo/vim-fubitive
[submodule ".vim/pack/max/start/vim-commentary"]
	path = .vim/pack/max/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/max/start/vim-vinegar"]
	path = .vim/pack/max/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".vim/pack/max/start/vim-surround"]
	path = .vim/pack/max/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/max/start/vim-fireplace"]
	path = .vim/pack/max/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule ".vim/pack/max/start/vim-characterize"]
	path = .vim/pack/max/start/vim-characterize
	url = https://github.com/tpope/vim-characterize
[submodule ".vim/pack/max/start/vim-sleuth"]
	path = .vim/pack/max/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/pack/max/start/vim-eunuch"]
	path = .vim/pack/max/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/pack/max/start/vim-repeat"]
	path = .vim/pack/max/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/max/start/vim-rsi"]
	path = .vim/pack/max/start/vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule ".vim/pack/max/start/vim-scriptease"]
	path = .vim/pack/max/start/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule ".jq/schema"]
	path = .jq/schema
	url = https://gist.github.com/a5abb4ebef3b0f72a6ed.git
[submodule ".vim/pack/max/start/vim-searchindex"]
	path = .vim/pack/max/start/vim-searchindex
	url = https://github.com/google/vim-searchindex.git
[submodule ".vim/pack/max/start/vim-github-link-opener"]
	path = .vim/pack/max/start/vim-github-link-opener
	url = https://github.com/gabebw/vim-github-link-opener.git
[submodule ".vim/pack/max/start/vim-dispatch"]
	path = .vim/pack/max/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/pack/max/start/vim-diff-prune"]
	path = .vim/pack/max/start/vim-diff-prune
	url = https://sanctum.geek.nz/code/vim-diff-prune.git
