[submodule ".vim/pack/max/start/jq.vim"]
	path = .vim/pack/max/start/jq.vim
	url = https://github.com/vito-c/jq.vim.git
[submodule ".vim/pack/max/start/xcconfig.vim"]
	path = .vim/pack/max/start/xcconfig.vim
	url = https://github.com/keith/xcconfig.vim.git
[submodule ".vim/pack/max/start/vim-fugitive"]
	path = .vim/pack/max/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/pack/max/start/vim-unimpaired"]
	path = .vim/pack/max/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired
