<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Duplicate Current Line</key>
	<string>moveToBeginningOfLine:, deleteToEndOfLine:, yank:, insertNewline:, moveToBeginningOfLine:, yank:</string>
	<key>Insert New Line Above</key>
	<string>moveUp:, moveToEndOfLine:, insertNewline:</string>
	<key>Insert New Line Below</key>
	<string>moveToEndOfLine:, insertNewline:</string>
</dict>
</plist>
