"*":
  core:
    disabledPackages: [
      "exception-reporting"
      "background-tips"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    showInvisibles: true
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
