"*":
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor: {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
